body {
    margin: 0px;
    padding: 0px;
}

#wrapper {
    position: relative;
    border: 1px solid #9C9898;
    width: 820px;
    height: 820px;
}

#buttonWrapper {
    position:absolute;
    float:right;
    width: 30px;
    top: 2px;
    right: 2px;
}

input[type =
"button"] {
    padding: 5px;
    width: 30px;
    margin: 0px 0px 2px 0px;
}
canvas { 
    image-rendering: optimizeSpeed; 
    /*Older versions of FF*/ 
    image-rendering: -moz-crisp-edges; 
    /*FF 6.0+*/
    image-rendering: -webkit-optimize-contrast; 
    /*Webkit (Safari now, Chrome soon)*/
    image-rendering: -o-crisp-edges; 
    /*OS X & Windows Opera (12.02+)*/
    image-rendering: optimize-contrast; 
    /*Possible future browsers.*/
    -ms-interpolation-mode: nearest-neighbor; 
    /*IE*/
}